.container{
    display: flex;
    justify-content: center;
}
.column{
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin: 20px;
}
.red{
    background-color: #A50000;
    color: white;
}
.red:hover{
    background-color: #c20000;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.yellow{
    background-color: #535300;
    color: white;
}
.green{
    background-color: #005E00;
    color: white;
}
.postit{
    width: 150px; 
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
input{
    width: 100px;
    height: fit-content;
    
}
.posthead{
    display: flex;
}
button{
    height: fit-content;
    margin: 2px;
}



h6{
    margin: 5px;
}
textarea{
    height: 100px;
    font-size: 10px;
    width: 125px;
    resize: none;
}
.minimized{
    height: 25px;
    padding-top: 5px;
}
i{
}